* {
  outline: none;
}

.app, body, html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  font-family: sans-serif;
}

.right {
  top: 20px;
  right: 20px;
  font-size: 20px;
  position: absolute;
}

.app {
  display: flex;
  justify-content: center;
}

#top {
  margin-top: 10%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 10%;

  @media (max-width: 768px) {
    width: 90%;
  }
}

.search, .list {
  border: 2px solid #ccc;
  border-radius: 8px;
}

.search {
  text-align: center;
  padding: 0.5em 0;
  font-size: 20px;
  background-color: transparent;
}

.center {
  display: flex;
  justify-content: center;
  width: 49%;
}

.list {
  padding: 1em;
  list-style: none;

  li {
    text-transform: capitalize;

    &:not(:first-child) {
      margin-top: .5em;
    }
  }
}

#check {
  display: none;
}

#icone {
  cursor: pointer;
  padding: 15px;
  position: absolute;
  z-index: 1;
}

.barra {
  background-color: #222;
  height: 100%;
  width: 300px;
  position: absolute;
  transition: all .2s linear;
  left: -300px;
}

.nav {
  width: 100%;
  position: absolute;
  top: 60px;
  height: 100%;
  background-color: #222;
  overflow: hidden;
  transition: all .2s;

  a {
    text-decoration: none;
  }
}

.link {
  background-color: #494950;
  padding: 20px;
  font-family: Arial sans-serif;
  font-size: 12pt;
  transition: all .2s linear;
  color: #f4f4f9;
  border-bottom: 2px solid #222;
  opacity: 0;
  margin-top: 200px;

  &:hover {
    background-color: #222;
  }
}

#check:checked ~ {
  .barra {
    transform: translateX(300px);

    nav a .link {
      opacity: 1;
      margin-top: 0;
      transition-delay: .2s;
    }
  }

  .bg {
    display: block;
  }
}

.bg {
  width: 100%;
  height: 100%;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, .4);
  display: none;
}

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

h3 {
  display: flex;
  justify-content: center;
}

.menu {
}

#cadastro {
  width: 300px;
  left: -300px;

  &:target {
    transform: translatex(300px)
  }
}

ul {
  list-style: none;

  li a {
    display: block;
    font-size: 18px;
    font-family: Arial sans-serif;
    padding: 25px;
    border-bottom: solid 1px #000;
    color: #ccc;
    text-decoration: none;
    transition: all .2s;
  }
}

.estoque {
  font-size: 18px;
  font-family: Arial sans-serif;
  padding: 25px;
  color: #000;
  text-decoration: none;
}

.button {
  background: #3d4ecc;
  padding: 1em 2em;
  color: #fff;
  border: 0;
  cursor: pointer;
  position: absolute;
  left: 500px;
top: 20px;

}

.button:hover {
  background: #333;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #f4f4f4;
  margin: 20% auto;
  width: 40%;

  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

.modal-header h2, .modal-footer h3 {
  margin: 0;
}

.modal-header {
  background: #cdcdcd;
  padding: 15px;
  color: #fff;
}

.modal-body {
  padding: 10px 20px;
}

.modal-footer {
  background: #cdcdcd;
  padding: 10px;
  color: #fff;
  text-align: center;
}

.closeBtn {
  color: #ccc;
  float: right;
  font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.x {
  font-weight: bold;
  list-style-type: circle;
}

.v {
  list-style-type: none;
}
